<div class="wrapper">

    <ul *ngIf="bookByIdMap2">
        <li *ngFor="let book of bookByIdMap2">
          <a href="#" [routerLink]="home"> {{ book.authorName? book.authorName : ' There is no Author available ' }}</a>
          <br>
          <br>
            <img src="{{ book.cover }}" alt="">
            <br>
            <hr>
            <span>{{ book.title? book.title : ' There is no Title available ' }}</span>
            <br>
            <hr>
            <span>{{ book.description.value ? book.description.value : book.description? book.description : ' There is no Description available '}}</span>
          <hr>
        </li>
      </ul>
      
</div>

