#loading {
    color: red;
}

.bgColor {
    background-color: #37627e;
}

ul {
    list-style: none;
    color: whitesmoke;
}

ul a {
    color: whitesmoke;
    text-decoration: none;
}

ul li:hover {
    background-color: lightcoral;
}

input {
    border-radius: 5%;
    width: 100%;
    border: 5px outset lightseagreen
}




