header {
    background-color:  #162c3b;
    padding: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand a{
    color: #fafafa;
    text-decoration: none;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    padding: 10px 20px;
}

.nav-brand a:hover {
    filter: brightness(130%) saturate(180%);
}

.menu-icons i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i{
    color: #eb648c;
}

/* meter o nav-list já em mobile */
.nav-list {
    display: flex;
    list-style: none; 
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -50rem;   /* remover isto para ver o prototipo da nav-list */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
    width: 100%;
}

.nav-list a{
    margin: 20px;
}

/* Meter a cruz em cima à esquerda */
.close{                      
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.close i:hover{
    color: greenyellow
}

/* .open{
    background: rgb(7, 218, 165);
    clip-path: inset(0% 0% 0% 100%); 
    transition: clip-path .5s ease-in-out;
}

.open:hover{
    clip-path: inset(0% 0% 0% 0%);
} */

.nav-list.active {          /* vamos adicionar este class através do Typescript. */
    right: 0px;
}

.nav-list li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    padding: 10px 20px;
}

.nav-list li a:hover {
    filter: brightness(130%) saturate(180%);
} 

button {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: black;
    background: linear-gradient(45deg, #12D8FA, #a6ffcb);
    border-radius: 12px;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    filter: brightness(130%) saturate(120%);
    font-weight: bold;
}



@media only screen and (min-width: 700px) {
    .nav-list {
        height: initial;
        width: initial;
        position: initial;
        top: initial;
        right: initial;    
        display: flex;
        flex-direction: row;
        z-index: 1500;
        transition: initial;
    }

    .nav-list li {
        padding-right: 20px;
        background-color: #162c3b;
    }

    .nav-brand{
        width: 3.5rem;
    }

     /* remover o icon dos hamburguers e da cruz */
     .menu-icons{
        display: none;
    }

}