
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
 
*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat', 'roboto', sans-serif;
    box-sizing: border-box;
}
