
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * MATOS * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="grid-container">

  <app-nav-bar  (clicked)="onClick()"></app-nav-bar>
  
  <section [ngClass]="{'asideBar': matos}">
  <app-aside-book-list class="menu-icons" (clickHome)="onHome()"></app-aside-book-list>
  </section>
  
  <section>
  <router-outlet></router-outlet>
  </section>
  
  <app-footer></app-footer>

</div>
